<nav class="future-nav">
  <a href="{{ '/future/' | relative_url }}" class="future-nav__logo">
    <span class="future-nav__icon">◉</span>
    Future Debrief
  </a>

  <ul class="future-nav__links">
    <li><a href="{{ '/future/' | relative_url }}" class="future-nav__link">Home</a></li>
    <li><a href="{{ '/future/blog/' | relative_url }}" class="future-nav__link">Blog</a></li>
    <li><a href="https://github.com/debrief/debrief-future" class="future-nav__link">GitHub</a></li>
    <li><a href="{{ '/' | relative_url }}" class="future-nav__link">Legacy Debrief</a></li>
  </ul>
</nav>
